@model FeedBackManagement.Models.feedback

@{
    ViewBag.Title = "AskQuestion";
}

<h2>Ask a question</h2>


@using (Html.BeginForm("AskQuestion", "Feedback", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        <div class="form-group">
            @Html.LabelFor(model => model.summary,"Summary", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.summary, new { htmlAttributes = new { @class = "form-control", style = "width:25%;" } })
                @Html.ValidationMessageFor(model => model.summary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description,"Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.description, new { htmlAttributes = new { @class = "form-control", style = "width:50%" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

      

        <div class="form-group">
            <input type="checkbox" id="box" />
            <input type="file" id="Content" name="Content" class="btn btn-block" disabled>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    
</div>


<script language="javascript">
    document.getElementById('box').onchange = function () {
        document.getElementById('Content').disabled = !this.checked;
    };
</script>
