@model FeedBackManagement.Models.feedback

@{
    /**/

    ViewBag.Title = "Details";

}

<h2>Details</h2>

<div>
    <h4>feedback</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.employee_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_field)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_field)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>

    

</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <b>Change Status</b>
        <select name="stat" id="stat" class="form-control" style="width:20%;">
            <option value="Viewed">Viewed</option>
            <option value="Inprocess">In process</option>
            <option value="Done">Done</option>

        </select>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change Status" class="btn btn-default" />
        </div>
    </div>
   

}
<img src="@ViewBag.ImageData" />
<div>

    @if (ViewBag.filecontent != null)
    {
        <p> @Html.ActionLink("DownLoad", "DownLoad", new { id = Model.Id })</p>


    }



    
    @Html.ActionLink("Back to List", "Index")

</div>
