@model IEnumerable<FeedBackManagement.Models.feedback>

@{
    ViewBag.Title = "Error List";
    
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    @using (Html.BeginForm("Index", "Feedback", FormMethod.Get))
    {
    <p>
        Type: @Html.DropDownList("typerpt", "All")
        Summary: @Html.TextBox("SearchString")
        Employee Name: @Html.TextBox("empname") <br />
        <input type="submit" value="Filter" />
    </p>
    }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.summary)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.description)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.filename)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.filepath)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.employee_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp_field)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.date_time)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.summary)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.filename)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.filepath)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.employee_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.emp_field)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.date_time)
                    </td>*@
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@

                    @* @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                </td>
            </tr>
        }

    </table>
