@model IEnumerable<FeedBackManagement.Models.feedback>

@{
    ViewBag.Title = "User_Index";
}

<h2>User Index</h2>

<p>
    
    @using (Html.BeginForm("User_Index", "Feedback", FormMethod.Get))
    {
    <p>
        Type: @Html.DropDownList("typerpt", "All")
        Summary: @Html.TextBox("SearchString")
       <br />
        <input type="submit" value="Filter" />
    </p>
}

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.summary)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.employee_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp_field)
            </th>
            
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.summary)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.employee_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.emp_field)
                </td>
                
                <td>
                    @Html.ActionLink("Details", "UserDetails", new { id = item.Id })
                 
                </td>
            </tr>
        }

    </table>
