@model IEnumerable<FeedBackManagement.Models.user>

@{
    ViewBag.Title = "Employee List";
}

<h2>Index</h2>


@using (Html.BeginForm("Index", "Registration", FormMethod.Get))
{
    <p>
        Role: @Html.DropDownList("roles", "All")
        Name: @Html.TextBox("name")
        <br />
        <input type="submit" value="Filter" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email_id)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.role)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email_id)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.role)
            </td>
            <td>
                
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Assign Role", "AssignRole", new { id = item.Id })|
                
            </td>
        </tr>
    }

</table>
