@model FeedBackManagement.Models.user

@{
    Layout = null;
    ViewBag.Title = "Registration";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>FeedBack - Register</title>
    <!-- Bootstrap core CSS-->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/assets/css/sb-admin.css" rel="stylesheet">
</head>
<body class="bg-dark">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="card card-register mx-auto mt-5">
                <div class="card-header">Register an Account</div>
                <div class="card-body">
                    <form>
                        <fieldset>
                            <div class="form-group">
                                @*<div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-label-group">*@
                                @Html.TextBoxFor(m => m.user_name, new { @class = "form-control", placeholder = "User Name" })
                                @*<input type="text" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
                                    <label for="firstName">User name</label>*@
                                @*</div>
                                    </div>*@
                                @*<div class="col-md-6">
                                        <div class="form-label-group">
                                            <input type="text" id="lastName" class="form-control" placeholder="Last name" required="required">
                                            <label for="lastName">Last name</label>
                                        </div>
                                    </div>*@
                                @*</div>*@
                            </div>
                            <div class="form-group">

                                @Html.TextBoxFor(m => m.email_id, new { @class = "form-control", placeholder = "Email Address" })
                                @*<input type="text" id="lastName" class="form-control" placeholder="Last name" required="required">
                                    <label for="lastName">Email Address</label>*@

                            </div>
                            <div class="form-group">

                                @Html.TextBoxFor(m => m.password, new { @class = "form-control", placeholder = "Password", type = "password" })
                                @*<input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                                    <label for="inputPassword">Password</label>*@

                                @*<div class="col-md-6">
                                        <div class="form-label-group">
                                            <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" required="required">
                                            <label for="confirmPassword">Confirm password</label>
                                        </div>
                                    </div>*@

                            </div>
                            @*<a class="btn btn-primary btn-block" href="login.html">Register</a>*@
                            <input type="submit" value="Register" class="btn btn-primary btn-block" />
                        </fieldset>
                    </form>
                    <div class="text-center">
                        
                        <a class="d-block small mt-3" href="@Url.Action("Login", "Registration")">Login Page</a>
                        @*<a class="d-block small" href="forgot-password.html">Forgot Password?</a>*@
                        <p class="alert-danger">@ViewBag.chk</p>
                    </div>
                </div>
            </div>
        </div>

    }

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };


        </script>

    }

    <!-- Bootstrap core JavaScript-->
    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>
